<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeto.henrique.unimarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro" />
        <activity android:name=".Principal" />
        <activity android:name=".GerenciarVendas" />
        <activity android:name=".AdicionarVenda" />
        <activity android:name=".ProcurarProdutos" />
        <activity android:name=".ProcurarServicos" />
        <activity android:name=".informacaoProduto" />
        <activity android:name=".ProdutoTag" />
        <activity android:name=".informacoesProdutoDono" />
        <activity android:name=".Favoritado" />
        <activity
            android:name=".Avaliar"
            android:label="@string/title_activity_avaliar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ServicoTag" />
        <activity android:name=".informacoesServico" />
        <activity android:name=".informacoesServicoDono" />
        <activity android:name=".AtualizaUsuario" />
        <activity android:name=".VerMeusFavoritados" />
        <activity android:name=".ListaUsuario" />
        <activity android:name=".informacaoUsuario"></activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>